
<div class="bloque-contenido">

<div class="miniaturastitulo">
   <h1 id="contact">Contacto / Contact</h1>
</div>


<div class="descripcion1 cst hyphenate">
¿Pasaste por aquí para saludar? ¿Has visto algo que te gusta y buscas más información? Sea como sea, aquí está la forma de contactar conmigo. 
</div>

<div class="descripcion2 eng hyphenate">
Did you come here to say hello? ¿Have you seen something you like and are you looking for more information? No matter what, here is the way to get in touch with me.
</div>







<div id="formulario">
	<form method="post" class="contacto" title="contacto">
 	    <fieldset>
        	<div class="formulario-parte">
			<div class="formulario-etiqueta"><span class="cst">NOMBRE ·&nbsp;</span><span class="eng">NAME</span></div>
            <div class="formulario-campo"><input type="text" class="nombre" name="nombre" /></div>
            </div>
            <div class="formulario-parte">
			<div class="formulario-etiqueta"><span class="cst">EMAIL</span></div>
            <div class="formulario-campo"><input type="email" class="email" name="email" /></div>
            </div>
            <div class="formulario-parte">
			<div class="formulario-etiqueta"><span class="cst">MENSAJE ·&nbsp;</span><span class="eng">MESSAGE</span></div>
            <div class="formulario-campo"><textarea cols="30" rows="5" class="mensaje" name="mensaje" ></textarea></div>
            </div>
            <div class="formulario-parte">
            <button class="boton_envio">ENVIAR · SEND</button>
            </div>
            
            
			<div class="correo"><span class="cst">hola@cocinadeideas.net</span></div>

 	        <div class="ultimo">
				<img src="templates/img/loading.gif" class="ajaxgif hide" alt="loading"/>
				<div class="msg hide"></div>
			</div>
           
 	    </fieldset>
 	 </form>
     
</div>    




</div> <!--bloque-contenido -->