<div class="bloque-contenido" style="height: 320px;">

<div class="miniaturastitulo">
   <h1 id="links">Enlaces / Links</h1>
</div>



<div class="descripcion1">
    <!-- <a href="http://www.facebook.com/" class="facebook redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en facebook" /></a> -->
    <a href="http://twitter.com/#!/cocinaideas" class="twitter redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en twitter" /></a>
    <a href="http://www.flickr.com/photos/cuch8/" class="flickr redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en flickr" /></a>
    <a href="http://pinterest.com/cocinadeideas/" class="pinterest redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en pinterest" /></a>
    <!-- <a href="http://www.facebook.com/" class="tumblr redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en tumblr - blog" /></a> -->
    <a href="http://www.linkedin.com/profile/view?id=100077340" class="linkedin redes-sociales"><img src="@root_path/templates/img/transp.gif" alt="cocina de ideas en linkedin" /></a>
    <br /><br />
	<span class="cst">También puedes encontrar mis trabajos en</span><br />
	<span class="eng">You can also find my works on</span><br />
    <span class="cst">&rarr;</span> <a href="http://cargocollective.com/cocinadeideas" class="link">Cargocollective.com/cocinadeideas</a>
    <br /><br />
	<span class="cst">Proyecto de experimentación tipográfica</span><br />
	<span class="eng">Type experimentation project</span><br />
    <span class="cst">&rarr;</span> <a href="http://cocinadeideas.net/conlatipoenlacabeza/" class="link">Con la tipo en la cabeza</a>
    <br /><br />
    <span class="cst">Alojamiento gracias a</span><br />
	<span class="eng">Hosting thanks to</span><br />
    <span class="cst">&rarr;</span> <a href="http://www.promsite.org/" class="link">Promsite.org</a>
    <br /><br />
</div>



<div class="descripcion2">
    <br /><br /><br /><br />
	<span class="cst">Familia, amigos y otros héroes gráficos</span><br />
	<span class="eng">Family, friends and other graphic heroes</span><br />
    <br />
    <a href="http://www.a1tinta.es/" class="link">R. Maroto · A 1 tinta</a><br />
    <a href="http://www.tagoartwork.com/" class="link">Tagoartwork</a><br />
    <a href="http://www.javierpminambres.com/" class="link">Javier P. Miñambres</a><br />
    <a href="http://javier-losada.com/" class="link">Javier Losada</a><br />
    <a href="http://mbeltran.es/" class="link">Manuel Beltrán</a><br />
    <a href="http://adrianfroufe.com/" class="link">Adrian Froufe</a><br />
    <a href="http://gasparfrances.wordpress.com/" class="link">Gaspar Francés</a><br />
</div>




</div> <!--bloque-contenido -->