<div class="bloque-contenido pie">

    <div class="descripcion1 cst" style="padding-top:25px;  padding-bottom:4px">
     	COCINA DE IDEAS · <a href="http://www.cocinadeideas.net/" title="CHUCHO A.NIETO" class="link" style="position:relative; bottom:-1px;">Graphic design Leeds & Birmingham</a><br />
        Content proudly managed by <a href="http://www.staceyapp.com" title="STACEY APP" target="_blank" class="link" style="position:relative; bottom:-1px;">Stacey</a><br />
    </div>
    
    <div class="descripcion2" style="padding-top:10px; padding-bottom:4px; text-align:center">
        <a href="http://www.promsite.org/" title="PROMSITE WEB HOST" target="_blank"><img src="@root_path/templates/img/promsite-hosting-sponsor.png" width="196" height="70" alt="Many thanks to PROMSITE hosting sponsor"/></a>
    </div>



</div> <!--bloque-contenido -->

<!--@current_year  <a href="@root_path/?/feed/" title="RSS FEED!" target="_blank" class="link" style="position:relative; bottom:-1px;">RSS</a><br /> -->