<script type="text/javascript">
$(document).ready(function(){
	abrir()

	$(".boton1").click(function(){
	$(".desplegable1").slideDown("fast");
	$(".desplegable2").slideUp(); $(".desplegable3").slideUp(); $(".desplegable4").slideUp(); $(".desplegable5").slideUp(); $(".desplegable6").slideUp(); 
	});

	$(".boton2").click(function(){
	$(".desplegable2").slideDown("fast"); 
	$(".desplegable1").slideUp(); $(".desplegable3").slideUp(); $(".desplegable4").slideUp(); $(".desplegable5").slideUp(); $(".desplegable6").slideUp(); 
	});

	$(".boton3").click(function(){
	$(".desplegable3").slideDown("fast"); 
	$(".desplegable1").slideUp(); $(".desplegable2").slideUp(); $(".desplegable4").slideUp(); $(".desplegable5").slideUp(); $(".desplegable6").slideUp(); 
	});
	
	$(".boton4").click(function(){
	$(".desplegable4").slideDown("fast"); 
	$(".desplegable1").slideUp(); $(".desplegable2").slideUp(); $(".desplegable3").slideUp(); $(".desplegable5").slideUp(); $(".desplegable6").slideUp(); 
	});
	
	$(".boton5").click(function(){
	$(".desplegable5").slideDown("fast"); 
	$(".desplegable1").slideUp(); $(".desplegable2").slideUp(); $(".desplegable3").slideUp(); $(".desplegable4").slideUp(); $(".desplegable6").slideUp(); 
	});
		
	$(".boton6").click(function(){
	$(".desplegable6").slideDown("fast"); 
	$(".desplegable1").slideUp(); $(".desplegable2").slideUp(); $(".desplegable3").slideUp(); $(".desplegable4").slideUp(); $(".desplegable5").slideUp(); 
	});
	
	
	
	
	$(".boton1eng").click(function(){
	$(".desplegable1eng").slideDown("fast"); 
	$(".desplegable2eng").slideUp(); $(".desplegable3eng").slideUp(); $(".desplegable4eng").slideUp(); $(".desplegable5eng").slideUp(); $(".desplegable6eng").slideUp(); 
	});

	$(".boton2eng").click(function(){
	$(".desplegable2eng").slideDown("fast"); 
	$(".desplegable1eng").slideUp(); $(".desplegable3eng").slideUp(); $(".desplegable4eng").slideUp(); $(".desplegable5eng").slideUp(); $(".desplegable6eng").slideUp(); 
	});

	$(".boton3eng").click(function(){
	$(".desplegable3eng").slideDown("fast"); 
	$(".desplegable1eng").slideUp(); $(".desplegable2eng").slideUp(); $(".desplegable4eng").slideUp(); $(".desplegable5eng").slideUp(); $(".desplegable6eng").slideUp(); 
	});
	
	$(".boton4eng").click(function(){
	$(".desplegable4eng").slideDown("fast"); 
	$(".desplegable1eng").slideUp(); $(".desplegable2eng").slideUp(); $(".desplegable3eng").slideUp(); $(".desplegable5eng").slideUp(); $(".desplegable6eng").slideUp(); 
	});
	
	$(".boton5eng").click(function(){
	$(".desplegable5eng").slideDown("fast"); 
	$(".desplegable1eng").slideUp(); $(".desplegable2eng").slideUp(); $(".desplegable3eng").slideUp(); $(".desplegable4eng").slideUp(); $(".desplegable6eng").slideUp(); 
	});
		
	$(".boton6eng").click(function(){
	$(".desplegable6eng").slideDown("fast"); 
	$(".desplegable1eng").slideUp(); $(".desplegable2eng").slideUp(); $(".desplegable3eng").slideUp(); $(".desplegable4eng").slideUp(); $(".desplegable5eng").slideUp(); 
	});
	
	
		
});
</script>


<!--Para que se abra el primero -->
<script>
function abrir()
	{
		$(".desplegable1").slideDown("slow"); 
		$(".desplegable2").slideUp(1); $(".desplegable3").slideUp(1); $(".desplegable4").slideUp(1); $(".desplegable5").slideUp(1); $(".desplegable6").slideUp(1); 
		
		$(".desplegable1eng").slideDown("slow"); 
		$(".desplegable2eng").slideUp(1); $(".desplegable3eng").slideUp(1); $(".desplegable4eng").slideUp(1); $(".desplegable5eng").slideUp(1); $(".desplegable6eng").slideUp(1); 
	}
</script>








<div class="bloque-contenido">


<div class="miniaturastitulo">
   <h1 id="the-kitchen">La cocina / The kitchen</h1>
</div>



<div class="descripcion1 cst hyphenate">
Hola! Me llamo (<span style="text-decoration:line-through">Jesús</span>) Chucho A. Nieto y te doy la bienvenida a mi particular cocina, donde muestro tanto experimentos personales como proyectos que he desarrollado para diversas empresas.<br /><br />

<a href="#algo-personal" class="boton1 link">ALGO PERSONAL</a> 
  <div class="desplegable1 hyphenate">
  Nac&iacute; en Valladolid en el a&ntilde;o 88 y aunque no siempre supe que quería dedicarme a esto, <strong>el dise&ntilde;o estuvo presente en mi vida desde que tengo uso de raz&oacute;n</strong>.<br />
    Mis aficiones van desde viajar y caminar por la monta&ntilde;a a escuchar m&uacute;sica en directo... aunque si me tuviese que decidir por alguna, dir&iacute;a que <strong>analizar e intentar comprender todo lo que me rodea</strong> es la &uacute;nica actividad que hago constantemente (&iexcl;y me encanta!).<br />
<br />
Tras varios años en Leeds, actualmente vivo y trabajo como diseñador freelance en <strong>Birmingham, Inglaterra</strong>. </div><br />


<a href="#formacion" class="boton2 link">FORMACI&Oacute;N</a> 
  <div class="desplegable2 hyphenate">Siguiendo mi gusto por lo racional y preciso me decid&iacute; por el bachillerato tecnol&oacute;gico. A&ntilde;os m&aacute;s tarde, esta vez dej&aacute;ndome guiar por mi verdadera pasi&oacute;n, <strong>me diplom&eacute; en dise&ntilde;o gr&aacute;fico y multimedia (HND)</strong>.<br /><br />
    Adem&aacute;s, considero el dise&ntilde;o como una disciplina colectiva y en <strong>constante renovaci&oacute;n</strong>, por lo que participo activamente en todos los <strong>talleres, cursos y actividades alternativas</strong> que se cruzan por mi camino y siempre estoy abierto a nuevas propuestas que me obliguen a investigar y ampliar mis conocimientos.</div><br />
 
 
<a href="#experiencia-laboral" class="boton3 link">EXPERIENCIA LABORAL</a> 
 <div class="desplegable3 hyphenate"> He pasado por <strong>multitud de trabajos</strong>. Comenc&eacute; a los 16 a&ntilde;os cargando cajas en un almac&eacute;n y a&ntilde;os mas tarde evolucion&eacute;, por ejemplo, de dise&ntilde;ar publicidad para cocinas a maquetar revistas de moda. A d&iacute;a de hoy agradezco haber estado en cada uno de ellos porque <strong>todos me han aportado algo nuevo</strong> que considero esencial en mí.<br /><br />
  
  En cuanto al dise&ntilde;o, tengo experiencia en proyectos de <strong>imagen corporativa</strong>, <strong>desarrollo y programaci&oacute;n web</strong>, <strong>dise&ntilde;o editorial</strong>, <strong>tipograf&iacute;a a medida</strong>, <strong>packaging</strong>, <strong>v&iacute;deo</strong>, <strong>multimedia</strong> y <strong>animaci&oacute;n 3D</strong>.<br />
Aun as&iacute;, sigo guardando una larga lista con los campos creativos en los que me encantar&iacute;a adentrarme antes de especializarme en alguno de ellos.</div>
 <br />
  
  
<a href="#menciones" class="boton4 link">MENCIONES Y PREMIOS</a> 
 <div class="desplegable4 hyphenate">Por otro lado he recibido varias menciones de mi trabajo que <strong>siempre son de agradecer</strong>. Desde peque&ntilde;as <strong>rese&ntilde;as</strong> en blogs como Criterion, Typedia, JWT y Parachutefonts hasta <strong>publicaciones</strong> en los libros AlwaysChapas, Basic Logos y Select J [Graphic design from Spain].<br /><br />
Adem&aacute;s he tenido el placer de colaborar en varias <strong>exposiciones colectivas de dise&ntilde;o y tipograf&iacute;a</strong> y en junio del 2010 me concedieron (junto al equipo de NOHAYCOLOR, colectivo gr&aacute;fico del que formo parte) el <strong>Oro en la categor&iacute;a J&oacute;venes creativos</strong> de los Premios de la publicidad de Castilla y Le&oacute;n.</div>
<br />

  
  
<a href="#porque-cocinadeideas" class="boton5 link">POR QUÉ COCINA DE IDEAS</a> 
<div class="desplegable5 hyphenate">&iquest;Y por qu&eacute; no? Creo que el dise&ntilde;o y los dise&ntilde;adores guardan bastante semejanza con la cocina y los cocineros. Aplicamos todos nuestros conocimientos y creatividad para <strong>cumplir un fin</strong>, somos los <strong>grandes desconocidos</strong> detr&aacute;s de toda obra y, como pasa con los mejores platos, <strong>un buen resultado final siempre depende de un cuidado proceso</strong>.</div><br />
 
<!-- 
<a href="#espero-conseguir" class="boton6 link">QUÉ ESPERO CONSEGUIR CON ESTA WEB</a> 
<div class="desplegable6 hyphenate">Además de servirme para abrir camino a nuevos proyectos, desde el nacimiento de la web siempre he buscado mostrar mis trabajos y recibir comentarios para seguir mejorando en lo que hago (hasta que llegue el día, ojalá, en el que esta página también sirva como referencia e inspiración para el trabajo de otros).</div>

-->
</div>










<div class="descripcion2 eng hyphenate">
  Hi! My name is (<span style="text-decoration:line-through">Jesús</span>) Chucho A. Nieto and you are very welcome to my special kitchen (≈ cocina) where you can see both personal experiments and projects I have developed for various companies.
  <br /><br />

<a href="#something-personal" class="boton1eng link">A BIT OF MYSELF</a>
  <div class="desplegable1eng hyphenate">
    <p>I was born in Valladolid (a medium-sized  city located in the Spanish State) in 1988, and, in spite of not always knowing that I wanted to do this, <strong>design has been a very important part of my life for as long as I remember</strong>.</p>
    <p>My interests range from traveling and walking in the mountains to listening live music... but if I had to pick one, I would say that <strong>analysing and trying to understand everything around me</strong> is the only activity that I constantly do (and I love it!).</p>
    <p>After several years in Leeds, I currently live and work as a freelance designer in <strong>Birmingham, England</strong>. </p>
  </div>
  <br />


<a href="#studies" class="boton2eng link">STUDIES</a> 
  <div class="desplegable2eng hyphenate">
    <p>Following my taste for the rational stuff I took Maths, Physics, Geology and Technical Drawing for the Spanish equivalent to A-levels. Several years later, this time letting myself be guided by my passion, I <strong>graduated in Graphic Design and Multimedia (HND)</strong>. </p>
    <p>Besides, I consider design as a collective discipline in <strong>constantly updating</strong>, so I actively participate in all kind of <strong>workshops, courses and alternative activities</strong> that cross my path and I'm always open to proposals that force me to investigate and expand my knowledge.</p>
  </div><br />
 
 
 
<a href="#work-experience" class="boton3eng link">WORK EXPERIENCE</a> 
 <div class="desplegable3eng hyphenate">I've held <strong>many different jobs</strong>. I started at the age of 16 in a warehouse loading boxes, and years later I evolved, for example, from designing kitchen ads to making layouts for fashion magazines. Today is the day I appreciate the experience gained from every single job I have done, because <strong>all of them have made new contributions to me</strong> that I consider to be important on my person.<br /><br />

Design-wise, I have experience in projects of <strong>corporate image</strong>, <strong>web development and programming</strong>, <strong>editorial design</strong>, <strong>bespoke typography</strong>, <strong>packaging</strong>, <strong>video</strong>, <strong>multimedia</strong> and <strong>3D animation</strong>.<br />
Even so I still keep a long list of creative fields where I would love to be involved before specialize in one of them.</div><br />
  
  
  
<a href="#mentions" class="boton4eng link">MENTIONS AND AWARDS</a> 
 <div class="desplegable4eng hyphenate">
 On the other hand, I have received several mentions of my work that are <strong>always appreciated</strong>. From small <strong>reviews in blogs</strong> like Criterion, Typedia, JWT and Parachutefonts to <strong>publications in books</strong> such as AlwaysChapas, Basic Logos and Select J [Graphic Design from Spain].<br /><br />

I also had the pleasure of participating in several <strong>exhibitions of design and typography</strong> and, in June 2010, I was awarded (along with NOHAYCOLOR team, graphic collective I belong to) with the <strong>Gold prize</strong> in the young creatives category of the Castile and Leon Advertising awards.
</div><br />

  
  
<a href="#why-cocinadeideas" class="boton5eng link">WHY COCINA DE IDEAS?</a> 
<div class="desplegable5eng hyphenate">And why not? I think design and designers are very similar to chefs and kitchens. We apply our knowledge and creativity to <strong>fulfill a purpose</strong>, we are the <strong>great unknowns</strong> behind all work and, as with the best dishes, <strong>a good final result always depends on a careful process</strong>.</div><br />
 
<!-- 
<a href="#what" class="boton6eng link">WHAT I WISH TO ACHIEVE WITH MY WEBSITE</a> 
<div class="desplegable6eng hyphenate">In addition serve me finding new projects, since the birth of this web I've always wanted to show my work and get feedback to improve on what I do (up to the day, hopefully, in which this site also will serve as a reference and inspiration point for the others' work).</div>
-->
</div>






</div> <!--bloque-contenido -->