
/*** BASIC ***/

* {
	outline:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

:focus {outline: 0;}

body {
	margin : 0 auto;
	padding : 0;
	font : 100%/1.4 'tradecond', 'Trebuchet MS', verdana, sans-serif; 	
	color : #000; 
	font-weight: normal;
	font-style: normal;
	line-height:normal;
	background-color: #fff;
}
img{border: 0px;}
a{cursor: pointer;}



/*** FONTS ***/

@font-face {
    font-family: 'tradeboldcond';
    src: url('tipografias/tradegothicltstd-bdcn20-webfont.eot');
    src: url('tipografias/tradegothicltstd-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipografias/tradegothicltstd-bdcn20-webfont.woff') format('woff'),
         url('tipografias/tradegothicltstd-bdcn20-webfont.ttf') format('truetype'),
         url('tipografias/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdBdCnNo.20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tradecond';
    src: url('tipografias/tradegothicltstd-cn18-webfont.eot');
    src: url('tipografias/tradegothicltstd-cn18-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipografias/tradegothicltstd-cn18-webfont.woff') format('woff'),
         url('tipografias/tradegothicltstd-cn18-webfont.ttf') format('truetype'),
         url('tipografias/tradegothicltstd-cn18-webfont.svg#TradeGothicLTStdCnNo.18') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'auto';
    src: url('tipografias/auto2-italic-webfont.eot');
    src: url('tipografias/auto2-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipografias/auto2-italic-webfont.woff') format('woff'),
         url('tipografias/auto2-italic-webfont.ttf') format('truetype'),
         url('tipografias/auto2-italic-webfont.svg#Auto2Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




/*** HEADINGS ***/

h1, h2, h3, h4, h5, h6 {
font-family:  'tradecond', courier new, courier, sans-serif;
font-weight : normal;
margin-top: 0px;
letter-spacing: -1px;
}

h1 { 
color: #000;
margin-bottom : 0.2em;
font-size : 6em; /* 96 / 16 */
line-height : 1.4;
}


h2 { 
color: #222;
margin-bottom : .5em;
margin-top : .5em;
font-size : 2.75em; /* 40 / 16 */
line-height : 1.2;
}

h3 { 
margin-bottom : 0.3em;
letter-spacing: -1px;
font-size : 1.30em; /* 28 / 16 */
line-height : 1.3;
}
	div.miniatura-textos a { 
		color: #ccc !important;
	}

	

h4 { 
color: #444;
margin-bottom : 0.5em;
font-size : 1.5em; /* 24 / 16  */
line-height : 1.25; }

	footer h4 { 
		color: #ccc;
	}

h5 { 
color: #555;
margin-bottom : 1.25em;
font-size : 1em; /* 20 / 16 */ }

h6 { 
color: #666;
font-size : 1em; /* 16 / 16  */ }











strong{
	font-family: 'tradeboldcond', sans-serif;
	font-weight: normal;
	font-style: normal;
}

#container {
	width: 700px;
	top: 0 !important;
	top: -1px;
	position: absolute;
	margin-left:-350px;
	left:50%;
}

#cambio-menu {
	z-index: 1;
	position:absolute;
	top:20px;
	left: 622px;
}

#menu {
	position: relative;
	width: 615px;
	height:300px;
	margin-top:60px;
	margin-bottom: 60px;
	background: #fff url(menu-carne/templates/img/loading.gif) no-repeat 50% 50%;
}

#menusecundario #logo {
}

#menusecundario #secciones {
	position: relative;
	width: 615px;
	top: 20px;
	text-align: right;
	color: #fff;
}



/* Para marcar los puntos del smooth scroll */

.redes-sociales{
	position: relative;
	margin-right: 1px;
	bottom: 4px; left: -2px ;
	line-height: 25px;
}






/* Para la página principal. Miniaturas etc */
#content{
	padding-top: 60px;
	width: 615px;	
}

.miniaturasbloque{
	width: 615px;
	height: 50px;
}
div.miniatura{margin: 0; padding: 0; width: 191px; height: 130px;}

p.summary a{
	font-size: 14px;
	position: relative;
	display: inline-block;
	height: 14px;
	padding-top: 4px;
	border-bottom: 1px dotted #fff;
	color: #a7acae;
}

#content div.miniaturasbloque ul.project-list.col.seven li:hover a{
	color: #ee323d;
}


/* Para cada una de las secciones (about, contact, etc) */

.bloque-contenido{
	float: left;
	margin-top: 140px;
	height: 440px;
}

.descripcion1{
	margin-right: 21px;
	width: 297px;
	float: left;
	text-align: justify;
	font-size: 14px;
}

.descripcion2{
	width: 297px;
	float: left;
	text-align: justify;
	font-size: 14px;
}

a.facebook img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 0;}
a.facebook img:hover{background-position: -40px 0;}

a.twitter img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 -40px;}
a.twitter img:hover{background-position: -40px -40px;}

a.flickr img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 -80px;}
a.flickr img:hover{background-position: -40px -80px;}

a.tumblr img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 -120px;}
a.tumblr img:hover{background-position: -40px -120px;}

a.linkedin img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 -160px;}
a.linkedin img:hover{background-position: -40px -160px;}

a.pinterest img{width:40px;height:40px;background: url(menu-carne/templates/img/redes-sociales.png) no-repeat 0 -200px;}
a.pinterest img:hover{background-position: -40px -200px;}



/* Para las paginas de trabajos */


#trabajo {float: right;	margin-right: 41px;margin-top:210px}

#titulo {
	width: 135px;
	float:left;
	text-align: right;
	padding: 10px;
	margin-left:20px;
	font-size: 14px;
}

/*
#descripcion1, #descripcion2{
	width: 298px;
	float:right;
	text-align: justify;
	margin-bottom: 40px;
	font-size: 14px;
}
#descripcion2 {
	margin-left: 20px;
}
*/

.titulo-imgs {
	position:relative;
	top:-20px;
	margin-top: 0px;
	padding-top: 17px;
	padding-left: 1px;
	margin-bottom: 20px;
	font-size: 14px;
	background: url(menu-carne/templates/img/titulo-imgs.png) no-repeat 1px 3px;
}


img.navegacion-izq{width:15px;height:15px;background: url(menu-carne/templates/img/trabajo-navegacion.png) no-repeat 0 0px; border: 0;}
img.navegacion-return{width:15px;height:15px;background: url(menu-carne/templates/img/trabajo-navegacion.png) no-repeat 0 -15px; border: 0;}
img.navegacion-der{width:15px;height:15px;background: url(menu-carne/templates/img/trabajo-navegacion.png) no-repeat 0 -30px; border: 0;}


.cst, a.cst {
	color: #7a7e7e;
}

.eng, a.eng {
	color: #9b9e9e;
}

span.cst, span.eng{
	display: inline-block;
	margin-bottom: 1px;	
}

a.moreinfo:first-letter{
	vertical-align:1px;
	margin-right: 1px;
}
.moreinfo{
	float: right;
	color: #fff;
	background-color: #c7caca;
	padding: 3px 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	margin-top: 3px;
	
}
.moreinfo:hover{
	background-color: #8f9090;
	color: #fff;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

/** TIPSY! **/

.tipsy { font-size: 11px; position: absolute; padding: 5px; margin-left: 3px; z-index: 100000;}
.tipsy-inner {
	background-color: #fff;
	color: #000;
	max-width: 200px;
	padding: 5px 4px 2px;
	text-align: center;
	border-bottom: 1px solid #000;
}

  /* Rounded corners */
  
  /*
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  */
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 4px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }