<!DOCTYPE html>
<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>

	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <META NAME="Description" CONTENT="Chucho A.Nieto · Freelance graphic designer based in Leeds/Birmingham  ·  Creative ideas for small and medium companies looking for something different.">
    <META NAME="Keywords" CONTENT="diseño gráfico, graphic design, freelance, portfolio, portafolio, web, logo, logotipo, logotype, publicidad, adds, advertising, packaging, tipografía, type, typography, identidad corporativa, identity, bussiness, cocina, kitchen, ideas, valladolid, leeds, castilla y león, yorkshire, cocinadeideas">
    <META NAME="Revisit-After" CONTENT="30">
    <META NAME="Robots" CONTENT="INDEX,FOLLOW">        

	<META http-equiv="cleartype" content="on">
	<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="icon" href="./templates/img/favicon-carne.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./templates/img/favicon-carne.ico" type="image/x-icon"> 

	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="templates/css/html5reset.css" media="all">
	<link rel="stylesheet" href="templates/css/responsivegridsystem.css" media="all">
	<link rel="stylesheet" href="templates/css/col.css" media="all">
	<link rel="stylesheet" href="templates/css/12cols.css" media="all">
    
    <link rel="stylesheet" href="./templates/estilo-general.css" media="all">
    <link rel="stylesheet" href="./templates/estilo-carne.css" media="all">


	<!-- Responsive Stylesheets -->
	<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="templates/css/1024.css">
	<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="templates/css/768.css">
	<link rel="stylesheet" media="only screen and (max-width: 480px)" href="templates/css/480.css">

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements and feature detects -->
	<script src="templates/js/modernizr-2.5.3-min.js"></script>
    
    
	

</head>

<body>

<div id="skiptomain"><a href="#maincontent">skip to main content</a></div>

<div id="wrapper">
	<div id="maincontentcontainer">
		<div id="maincontent">
        
        	:menu-carne 
        
        
            <div id="menusecundario" class="col span_12_of_12">
                    <img src="./templates/img/cocina-de-ideas-logotipo-carne.png" alt="cocina de ideas graphic design logotype">
					<!--                    
                    <div id="secciones">
                        <a href="#the-kitchen" class="auto ocultablecst">La cocina</a> <a href="#the-kitchen" class="auto ocultableeng">About the kitchen</a>
                        <span class="pieseparador">·</span>
                        <a href="#links" class="auto ocultablecst">Enlaces</a> <a href="#links" class="auto ocultableeng">Links</a>
                        <span class="pieseparador">·</span>
                        <a href="#contact" class="auto ocultablecst">Contacto</a> <a href="#contact" class="auto ocultableeng">Contact</a>
                    </div>
                    -->
            </div>

            :category_lists<br><br>



			<div class="section group">
				<div class="col span_6_of_12">
				1 of 2
				</div>
				<div class="col span_6_of_12">
				1 of 2
				</div>
			</div>

			<div class="section group">
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
            	<div class="col span_1_of_12">1</div>
			</div>

		</div>
	</div>
</div>



	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="templates/js/jquery-1.7.2.min.js"><\/script>')</script>

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="js/selectivizr-min.js"></script>
	<![endif]-->


	<!-- More Scripts-->
	<script src="templates/js/responsivegridsystem.js"></script>
    
	<script type="text/javascript" src="./templates/js/funciones.web.js"></script>
    <script type="text/javascript" src="./templates/js/easing.totop.tipsy.js"></script>
    <script type="text/javascript" src="./templates/js/jquery.maphilight.js"></script>


	<script>
		$(document).ready(function(){
			  detectaridioma(), abrir();
		})
    </script>

</body>
</html>